<h3 class="mb-3 mt-5">Productos en el carrito</h3>
{{#if carrito.productos.length}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col" class="text-center">Quitar del carrito</th>
    </tr>
  </thead>
  <tbody>
    {{#each carrito.productos}}
    <tr>
      <th scope="row">{{this.codigo}}</th>
      <td>{{this.nombre}}</td>
      <td>${{this.precio}}</td>
      <td>{{this.cantidad}}</td>
      <td class="text-center"><button style="width:32px;" class="btn btn-sm btn-danger" onclick="return clickDeleteCarrito('{{this._id}}')">X</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<hr />
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-warning btn-lg float-right mt-3 ml-3" href="/comprar">COMPRAR</a>
    <a class="btn btn-info btn-lg float-right mt-3" href="/productos">AGREGAR PRODUCTOS</a>
  </div>
</div>
{{else}}
<div class="alert alert-danger mb-5">
  <strong>No hay productos en el carrito!</strong>
</div>
{{/if}}